<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Login</div>
        </div>
        <div class="form-inner">
            <form action="{{ url_for('login_post') }}" class="login" method="POST">
                <div class="fields">
                    <input type="text" placeholder="Email ID" name="email" required>
                </div>  
                <div class="fields">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">
                    Not a user? <a href="{{ url_for('signup') }}">Signup now</a>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
